/vendor/
.env
.env.local
.env.*.local
/storage/*.key
/storage/*.sqlite
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
bootstrap/cache/
.idea/
.vscode/
phpunit.xml
phpunit.xml.dist
*.bak
*.swp
.DS_Store
Thumbs.db
/uniboard_db
